extends ../../layout/main
include ../../components/heading/image
include ../../components/button/icon/left

block head
    link(href='../../style/main.sass' rel='stylesheet')

block content
    #pg-not-found
        #image
            +heading-image('../../image/icon/emoji/confused.svg', '%NOTFOUND_TITLE%', '%NOTFOUND_DESCRIPTION%')
        #back
            +button-icon-left('%GO_BACK%', '../../image/icon/default/arrow-left.svg')

