extends ../../../layout/main

block head
    link(href='../../../style/main.sass' rel='stylesheet')

block content
    h1 %SIGNUP_EMAIL_TITLE%
    p %SIGNUP_EMAIL_DESCRIPTION%
    input#key(type='hidden' value='#publicKey#')
    input#email(type='email' placeholder='%EMAIL%')
    input#password(type='password' placeholder='%PASSWORD%')
    input#confirm(type='password' placeholder='%CONFIRM_PASSWORD%')
    button#sign-up %SIGNUP%

    script(src='../../../script/signup/email.ts')
