extends ../../../layout

block content
    h1 Let's get started
    p It's totally free
    input(type='email' id='email' placeholder='Email')
    input(type='email' id='password' placeholder='Password')
    input(type='email' id='confirm' placeholder='Confirm password')
    button SIGN UP
