extends ../../../layout/main

block content
    h1 Let's get started
    p It's totally free
    input#key(type='hidden' value=publicKey)
    input#email(type='email' placeholder='Email')
    input#password(type='password' placeholder='Password')
    input#confirm(type='password' placeholder='Confirm password')
    button#sign-up SIGN UP

    script(src='/script/communicate.js')
    script(src='/script/signup/email.js')
