extends ../../../layout/main

block head
    link(href='../../../style/main.sass' rel='stylesheet')

block content
    h1 Welcome
    p Select sign up method
    button(onclick='location.href = \'/signup/email\'') Email

    link(href='../../../style/main.sass' rel='stylesheet')
