extends ../../../layout/main

block head
    link(href='../../../style/main.sass' rel='stylesheet')

block content
    h1 %SIGNUP_METHOD_TITLE%
    p %SIGNUP_METHOD_DESCRIPTION%
    button(onclick='location.href = \'/signup/email\'') %EMAIL%

    link(href='../../../style/main.sass' rel='stylesheet')
